node_modules/
assets/css/*
!assets/css/.gitkeep
assets/js/*
!assets/js/lib/
languages/*
!languages/.gitkeep
test/
build/
.idea/
.vscode/
.history
.docz/
.DS_Store
.phpcs.cache
.phpunit.result.cache
php-errors.log
ehthumbs.db
Thumbs.db
.npm
.sass-cache
assets/**/*.map
.prettierignore
*.zip
*.po
*.po~
*.mo
.history
*.log
*.map
vendor/
.phpunit.result.cache
yarn.lock